@import "tailwindcss";


  :root {
    --background: #121212;
    --foreground: #F9FAFB;
    --primary: #1E3A8A;    
    --neutral: #374151;    
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--primary);
}
